
#div1 {
    background-color: rgb(88, 96, 175);
    margin-left: auto;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

p.castname {
    display: block;
}

html, body {
    cursor: url('assets/lightsabercursor.cur'), default;
    background-image: url(https://images.wallpapersden.com/image/download/star-wars-the-rise-of-skywalker_a2tqbGeUmZqaraWkpJRobWllrWdma2U.jpg);
    background-size: cover;
}

.topnav {
    overflow: hidden;
    background-color: black;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    positon: sticky;
  }
  .topnav a {
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*To change the colour on hover*/
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }