html
{ 
    background-image: url(https://www.mirror.co.uk/tv/tv-news/star-wars-quiz-prove-youre-3487017); 
    cursor: url('assets/lightsabercursor.cur'), default;
}

body {
    cursor: url('assets/lightsabercursor.cur'), default;
}
